{% extends 'confschemaoperation/template.html.twig' %}

{% block breadcrumb %}
    <div class="container">
        <ol class="breadcrumb">
              <li> {{'menu.dashboard.param'|trans(arguments = {}, domain = 'menu')}} </li>
            <li class="active"> {{'schemaoperation.name'|trans(arguments = {}, domain = 'schemaoperation')}}  </li>
            <li class="active"> {{'schemaoperation.showview.title'|trans(arguments = {}, domain = 'schemaoperation')}}</li>
        </ol>
    </div>
{% endblock %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading main-color-bg">
        <h3 class="panel-title">{{'schemaoperation.showview.title'|trans(arguments = {}, domain = 'schemaoperation')}}</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3">
                <a type="button" href="{{ path('schemaoperation_index') }}" class="btn main-new-action-bg"> <span class="glyphicon glyphicon-arrow-left"></span> <b>  {{'crud.backbtnlabel'|trans(arguments = {}, domain = 'crud')}} </b></a>
            </div>
            <div class="col-md-3">
                <a type="button" href="{{ path('schemaoperation_edit', { 'id': confSchemaOperation.id }) }}" class="btn main-new-action-bg"> <span class="glyphicon glyphicon-pencil"></span> <b> {{'crud.editbtnlabel'|trans(arguments = {}, domain = 'crud')}} </b></a>
            </div>
        </div>

        <br>
    <table class="table table-bordered">
        <tbody>
           
            <tr>
                <th>{{'schemaoperation.indexview.table.codeschema'|trans(arguments = {}, domain = 'schemaoperation') }}</th>
                <td>{{ confSchemaOperation.codeSchema }}</td>
            </tr>
            <tr>
                <th>{{'schemaoperation.indexview.table.designation'|trans(arguments = {}, domain = 'schemaoperation') }}</th>
                <td>{{ confSchemaOperation.designation }}</td>
            </tr>
            <tr>
                <th>{{'schemaoperation.indexview.table.nbretape'|trans(arguments = {}, domain = 'schemaoperation') }}</th>
                <td>{{ confSchemaOperation.nbrEtape }}</td>
            </tr>
            <tr>
                  <th>{{'crud.delete'|trans(arguments = {}, domain = 'crud')}}</th>
                <td>
                    {% if confSchemaOperation.supprimer %} <span class="glyphicon glyphicon-remove"></span> {% else %} <span class="glyphicon glyphicon-ok"></span>{% endif %}
                    </td>
            </tr>
        </tbody>
    </table>
<!-- 
    <ul>
        <li>
            <a href="{#{ path('confschemaoperation_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('confschemaoperation_edit', { 'id': confschemaoperation.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }#}
        </li>
    </ul> -->
{% endblock %}