  <table class="table table-bordered">
        <thead  class="main-new-action-bg">
            <tr>
                <th>{{'agence.indexview.table.code'|trans(arguments = {}, domain = 'agence') }}</th>
                <th>{{'agence.indexview.table.libelle'|trans(arguments = {}, domain = 'agence') }}</th>
                <th style="width:100px !important">{{'agence.indexview.table.action'|trans(arguments = {}, domain = 'agence') }}</th>
            </tr>
        </thead>
        <tbody>
         {% for confAgence in confAgences %}
            <tr>
                <td>{{ confAgence.code }}</td>
                <td>{{ confAgence.libelle }}</td>
                <td>
                     <a class="btn btn-default btn-xs" href="{{path('agence_show', { 'id': confAgence.id })  }}"> <span class="glyphicon glyphicon-eye-open"></span></a>
                    <a class="btn btn-info btn-xs" href="{{ path('agence_edit', { 'id': confAgence.id }) }}"> <span class="glyphicon glyphicon-pencil"></span></a>
                    <a class="btn btn-danger btn-xs" href="{{ path('agence_edit', { 'id': confAgence.id }) }}"> <span class="glyphicon glyphicon-remove"></span></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>