<table class="table table-bordered">
        <thead  class="main-new-action-bg fontzize13px">
            <tr>
               
                <th>{{'plancomptable.indexview.table.codeplan'|trans(arguments = {}, domain = 'plancomptable') }}</th>
                <th style="width:200px">{{'plancomptable.indexview.table.designation'|trans(arguments = {}, domain = 'plancomptable') }}</th>
                <th style="width:120px">{{'plancomptable.indexview.table.capitalsocial'|trans(arguments = {}, domain = 'plancomptable') }}</th>
                <th style="width:100px">{{'plancomptable.indexview.table.instancedistribution'|trans(arguments = {}, domain = 'plancomptable') }}</th>
                <th style="width:100px">{{'plancomptable.indexview.table.comptebenefice'|trans(arguments = {}, domain = 'plancomptable') }}</th>
                <th style="width:100px">{{'plancomptable.indexview.table.compteperte'|trans(arguments = {}, domain = 'plancomptable') }}</th>
                <th>{{'plancomptable.indexview.table.actions'|trans(arguments = {}, domain = 'plancomptable') }}</th>
            </tr>
        </thead>
        <tbody>
         {% for confPlan in confPlans %}
            <tr>
                <td>{{ confPlan.codePlan }}</td>
                <td>{{ confPlan.designation }}</td>
                <td>{{ confPlan.compteCapitalSocial }}</td>
                <td>{{ confPlan.compteResultatInstanceDistribution }}</td>
                <td>{{ confPlan.compteBenefice }}</td>
                <td>{{ confPlan.comptePerte }}</td>
                <td>
                     <a class="btn btn-default btn-xs" href="{{path('plan_show', { 'id': confPlan.id })  }}"> <span class="glyphicon glyphicon-eye-open"></span></a>
                    <a class="btn btn-info btn-xs" href="{{ path('plan_edit', { 'id': confPlan.id }) }}"> <span class="glyphicon glyphicon-pencil"></span></a>
                    <a class="btn btn-danger btn-xs" href="{{ path('plan_edit', { 'id': confPlan.id }) }}"> <span class="glyphicon glyphicon-remove"></span></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
